<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Bookshelf</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/favicon.jpg"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/bookstack.png" alt="stack logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="makeBook">

  </section>
  <section id="books">
    
  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appbundle.js"></script>
</body>
</html>
