<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Bookshelf</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/favicon.jpg" />
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css" />
</head>
<nav>
  <a id="logoText" href="/login"><img id="logo" src="/assets/img/bookstack.png" alt="stack logo" />Bookshelf</a></div>
  <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
  <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  <div class="navlink"><a href="/info">Info</a></div>
  <div class="navlink"><a href="/documentation">Documentation</a></div>
</nav>

<body>
  <h1>Welcome to Bookshelf</h1>
  <h2>You can create your own bookshelf and keep track of what you've read!</h2>

  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>

  <section id="content">

  </section>

  <img id="advertisment" src="/assets/img/advertisment1.png" alt="advertisment" />

  <script src="/assets/loginbundle.js"></script>
</body>

</html>