<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Bookshelf</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/favicon.jpg" />
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css" />
</head>
<nav>
  <a id="logoText" href="/login"><img id="logo" src="/assets/img/bookstack.png" alt="stack logo" />Bookshelf</a></div>
</nav>

<body>

  <h1>404 Not Found</h1>
  <h3 class="errorMessage">The page you're trying to access was not found.</h3>
</body>

</html>