html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #677ab9;
    font-family: 'Special Elite', cursive;
    background-image: url('img/background.jpg');
    background-position: center;

}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: #ca4637;
    font-style: italic;
    display: block;
    text-align: center;
}

.bookForm {
    text-align: center;
    align-items: center;
    border: 2px solid #87c5cc;
    width: 100%;
    margin-top: 0px;
    background-color: #87c5cc;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 60px;

}

img{
    display: block;
    align-items: center;
    margin: 0 auto;
}

.bookList {
    padding: 20px;
}

img.bookIcon {
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

#books {
    width: 55%;
    min-width: 500px;
    border: 2px solid #87c5cc;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookForm label {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
}

h1,
h2 {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 50px;
    color: #87c5cc;
    font-family: 'Special Elite', cursive;
}

h2 {
    font-size: large;
    color: #677ab9;
    padding: 0;
}

.makeBookSubmit {
    transition: background-color 0.4s ease;
    border: none;
    border-radius: 4px;
    display: inline;
    margin: 10px;
    padding: 10px;
    height: 30px;
    background-color: white;
    color: #677ab9;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

.makeBookSubmit:hover {
    transition: background-color 0.4s ease;
    color: white;
    background-color: #677ab9;
}

.makeBookSubmit:link,
.makeBookSubmit:visited,
.makeBookSubmit:hover,
.makeBookSubmit:active {
    color: white;
    font-family: 'Special Elite', cursive;
}


.bookForm input,
select {
    border-radius: 4px;
    border-width: 1px;
    border-color: white;
    padding: 5px;

}

nav {
    padding-top: 20px;
    width: 100%;
    height: 60px;
    background-color: #87c5cc;
}

.navlink {
    background-color: #87c5cc;
    float: right;
    padding: 20px;
    padding-top: 12px;
    color: white;
    font-size: 1.3em;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    padding: 5px;
    text-decoration: none;
    background-color: #87c5cc;
    transition: background-color 0.4s ease;

}

.navlink a:hover {
    transition: background-color 0.8s ease;
    color: #677ab9;
}

#logo {
    height: 40px;
    width: 40px;
    padding-left: 20px;
    float: left;
    background-color: #87c5cc;
}

#logoText {
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.4s ease;
    font-size: 2em;
    text-align: center;
    background-color: #87c5cc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 200px;
    font-size: 1.2em;
}

.mainForm label {
    font-size: 1.2em;
}

.mainForm input {
    margin: 10px
}

.docInfo{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
}

.info{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
}
.formSubmit {
    text-align: center;
    font-size: 1.2em;
    width: 100px;
    background-color: #87c5cc;
    border-radius: 2px;
    border-color: #87c5cc;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
    font-family: 'Special Elite', cursive;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: .8em;
    border-radius: 4px;
}

.bookFlex {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.bookFlex h3 {
    padding: 10px;

}

.book {
    width: 95%;
    margin: 0 auto;
    background-color: white;
    height: auto;
    position: relative;
    padding: 5px;
}

.finishedBook {
    text-align: center;
    background-color: lightpink;
    border-radius: 2px;
    border: none;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

.book:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255, 255, 255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: lightgray;
}

h3.emptyBook {
    width: 300px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}