
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #677ab9;
    font-family: 'Special Elite', cursive;
    background-image: url('img/background.jpg');
    background-position: center;
    
}

.bookList{
    padding: 20px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #87c5cc;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #87c5cc;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    color:#677ab9;
}

.bookForm {
    text-align: center;
    align-items: center;
    border: 2px solid #87c5cc;
    width: 100%;
    margin-top:0px;
    padding-top:10px;
    background-color: #87c5cc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 50px;
    
}

.bookForm label {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
}

.bookForm input[type=number] {
    width: 60px;
}
.bookForm input{
    border-radius: 4px;
    border-width: 1px;
    border-color: white
    
}

.bookForm select{
    border-radius:4px;
    border-color: white;
    border-width: 1px;
}

.bookForm select{
    border-radius:4px;
    border-color: white;
    border-width: 1px;
}

.makeBookSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 100px;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    color: #677ab9;
    text-decoration: none;
    margin: 10px;
    font-family: 'Special Elite', cursive;
}

.makeBookSubmit:link, .makeBookSubmit:visited, .makeBookSubmit:hover, .makeBookSubmit:active {
    color: white;
    font-family: 'Special Elite', cursive;
}

.makeBookSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #87c5cc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 200px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #87c5cc;
    border-radius: 2px;
    border-color: #87c5cc;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
    font-family: 'Special Elite', cursive;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color:#677ab9;
    font-family: 'Special Elite', cursive;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
    margin: 10px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #87c5cc;
}

.hidden {
    display: none;
}
img.bookIcon {
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

#domoMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: #ca4637;
    font-style: italic;
}

#book {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#books {
    width: 55%;
    min-width: 500px;
    border: 2px solid #87c5cc;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bookFlex {
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.book {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    height: auto;
    position: relative;
}

.book:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: lightpink;
    color: white;
}


h3.emptyBook {
    width: 300px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.bookTitle {
    font-weight: bold;
    padding-left: 10px;
    font-size: 1.2em;
    width: auto;
    padding: 5px;
}

h3.bookAuthor {
    font-weight: bold;
    padding: 5px;
    font-size: 1.2em;
    width: auto;
}

h3.bookPages {
    float:left;
    text-align: left;
    width: auto;
    font-weight: bold;
    padding: 5px;
    font-size: 1.2em;
}

.book:first-child {
    margin-top: 10px;
}

.book:last-child {
    margin-bottom:10px;
}

img.trash {
    width: 20px;
     height: 20px;
     position: absolute;
     top: 10px;
     right: 10px;
}

h1,h2{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 50px;
    color:#87c5cc;
    font-family: 'Special Elite', cursive;
}
h2{
    font-size: large;
    color: #677ab9;
    padding: 0;
}